.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid var(--border-dark-color);
  background-color: var(--bg-color);
  transition: background-color 0.3s ease;
  color: var(--main-dark-color);
}

.mob {
  width: var(--btn-mob-size);
  height: var(--btn-mob-size);
  background-color: var(--bg-color);
}

.small {
  width: var(--btn-small-size);
  height: var(--btn-small-size);
  border: none;
  background-color: var(--bg-light-color);
}

.medium {
  width: var(--btn-medium-size);
  height: var(--btn-medium-size);

  &:hover {
    background-color: var(--bg-light-color);
  }
}

.large {
  width: var(--btn-large-size);
  height: var(--btn-large-size);
}

.point {
  width: var(--btn-point-size);
  height: var(--btn-point-size);
  background-color: var(--main-dark-color);
  font-size: 1px;
}

.shadow {
  box-shadow: 0 2px 6px var(--border-dark-color);
}
